.has-background-gradient-azul {
    background: linear-gradient(90deg, #1A4C96 0%, #1D64AF 28.64%, #25A2F0 89.37%, #27ADFC 100%) !important;
}

.has-background-gradient-naranja {
    background: linear-gradient(90deg, #FFDA00 0%, #FFD600 5.07%, #FFBB00 41.96%, #FFAB00 74.78%, #FFA500 100%) !important;
}

.has-background-gradient-verde-azul {
    background: linear-gradient(90deg, #A4DE2A 0%, #A0DD30 10.52%, #96D941 24.67%, #85D25D 40.89%, #6EC985 58.65%, #50BDB7 77.67%, #2CAFF4 97.47%, #27ADFC 100%) !important;
}